[core]
	editor = 'C:\\Users\\mdruzgala\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe' --wait
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
[alias]
	st = status
	fp = fetch
	cb = "!f() { git checkout -b \"$1\" ; }; f"
	back = checkout -
	qs = "!f() { git commit -am \"saving progress\" ; }; f"
	cm = "!f() { git commit -am \"$1\" ; }; f"
	lb = branch -vv
	develop = checkout develop
	master = checkout master
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
